<!DOCTYPE html>
html
	head
		title Bernardo Baquero Stand

		meta(name='author', content='@berbaquero')
		meta(name='description', content='Bernardo Baquero Stand\'s homepage')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		link(href='styles.css' rel='stylesheet')

		script var loc=location.hostname;if(loc==="berbaquero.com" || loc==="berbaquero.github.io" || loc==="berbaquero.github.com"){var _gaq=[['_setAccount','UA-37661750-1'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))}

	body
		main
			div.wrap
				h1.anim.fade-in-down Bernardo Baquero Stand

				p.sub.anim.reveal Learn. Create. Share. Repeat

				p.anim.fade-in-up Venezolano. Living in and loving Amsterdam. Currently doing <span class='highlight'>Frontend Development and Architecture</span> at <a href='http://corporate.tmg.nl/en'>TMG</a>. Guitarist. <a href='http://reedditapp.com/about/'>Reeddit</a> creator.

				div.links.anim.fade-in-up.fade-in-up--delayed
					a(href='mailto:baquerober@gmail.com') Email
					a(href='https://twitter.com/berbaquero') Twitter
					a(href='https://github.com/berbaquero') GitHub
					a(href='http://ve.linkedin.com/in/bernardobaquero') LinkedIn
