<!DOCTYPE html>
html
	head
		title Bernardo Baquero Stand

		meta(name='author', content='@berbaquero')
		meta(name='description', content='Bernardo Baquero Stand\'s homepage')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		link(href='styles.css' rel='stylesheet')

	body
		main
			div.wrap
				h1.anim.fade-in-down Bernardo Baquero Stand

				p.sub.anim.reveal Learn. Create. Share. Repeat

				p.anim.fade-in-up Venezolano. Living in and loving Amsterdam. Currently doing <span class='highlight'>Frontend Development and Architecture</span> at <a href='http://corporate.tmg.nl/en'>TMG</a>. Guitarist. <a href='http://reedditapp.com/about/'>Reeddit</a> creator.

				div.links.anim.fade-in-up.fade-in-up--delayed
					a(href='mailto:baquerober@gmail.com') Email
					a(href='https://twitter.com/berbaquero') Twitter
					a(href='https://github.com/berbaquero') GitHub
					a(href='http://ve.linkedin.com/in/bernardobaquero') LinkedIn
